@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Gelasio', Georgia, serif;
  color: #111;
  background-color: #f5f5f5;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Asap', sans-serif;
}
